.DS_Store
node_modules/
dist/
npm-debug.log
yarn-error.log

# All src js files
src/**/*.js

# All constants
src/common/system/constants/constants.ts

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
